<div>

  <button class="btn btn-primary mt-5 ms-2" type="button" disabled *ngIf="stepperService.loading">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Loading...
  </button>
  

  <div *ngIf="!stepperService.loading && !formResponseEmpty" #response class="mt-5">
    <div *ngFor="let key of formResponseKeys" class="company-insurance d-flex flex-column align-items-start mb-5 mt-2">
      <p class="title fw-bold">{{ key }}</p>
      <div class="company-insurance" class="comments">
        <p class="text-justify">
          {{ formResponse[key]["comments"] }}
        </p>
      </div>
    </div>

  </div>
</div>
