.comments{
    background-color: #cdcdcd;
    border-radius: 1rem;
    padding: 1rem;
}

.title {
    width: fit-content;
    background-color: #cdcdcd;
    border-radius: 1rem;
    padding: 0.5rem;
}