.questions {
    background-color: #bfbfbf;
    padding: 0 1rem;
    text-align: justify;
}

.scrollbar::-webkit-scrollbar {
    background-color: #cecece;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #aeaeae;
    border-radius: 8px;
}