<div class="w-50 mt-5 mx-auto d-flex flex-column align-items-center vh-100">
  <h1>Chat with any PDF</h1>
  <div class="buttons">
    <button class="btn btn-md btn-dark">Go to Chats</button>
    <button class="btn btn-md btn-light ms-2">Manage subscription</button>
  </div>
  <div class="desc text-center mt-2">
    Join millions of students, researchers and professionals to instantly answer questions and understand research with AI.
  </div>
  <div class="card mt-2 w-100 card">
    <div class="card-body h-100">
        <div class="card w-80 h-100 border-dashed" role="button">
        </div>
    </div>
  </div>
</div>

