<div class="container mt-5">
    <div class="row">
      <div class="col-md-3">
        <ul class="list-group">
          <li class="list-group-item" [class.active]="currentStep === 1">
            Step 1
          </li>
          <li class="list-group-item" [class.active]="currentStep === 2">
            Step 2
          </li>
          <li class="list-group-item" [class.active]="currentStep === 3">
            Step 3
          </li>
        </ul>
      </div>
      <div class="col-md-9">
        <form (ngSubmit)="onSubmit()" #stepperForm="ngForm">
          <div *ngIf="currentStep === 1">
            <app-step1 [formGroup]="step1Form"></app-step1>
          </div>
          <div *ngIf="currentStep === 2">
            <app-step2 [formGroup]="step2Form"></app-step2>
          </div>
          <div *ngIf="currentStep === 3">
            <app-step3 [formGroup]="step3Form"></app-step3>
          </div>
  
          <div class="mt-3">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="prevStep()"
              [disabled]="currentStep === 1"
            >
              Previous
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="nextStep()"
              [disabled]="!stepperForm.form.valid"
            >
              Next
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
