<p>progress bar here...</p>
<!-- Vertical Steppers -->
<div class="row mt-5">
  <div class="col-md-12">
    <div class="title">
      <span class="badge rounded-circle lead badge-large bg-primary">{{ currentStep }}</span>
      <span class="lead ms-2 ms-2 text-primary"> Step {{ currentStep }} </span>
    </div>
    <app-step1 *ngIf="currentStep === 1" class="fs-6"></app-step1>
    <app-step2 *ngIf="currentStep === 2" class="fs-6"></app-step2>
    <app-step3 *ngIf="currentStep === 3" class="fs-6"></app-step3>
    <app-step4 *ngIf="currentStep === 4" class="fs-6"></app-step4>
  </div>
</div>

