<p>progress bar here...</p>
<!-- Vertical Steppers -->
<div class="row mt-1">
  <div class="col-md-12">
    <!-- Stepers Wrapper -->
    <ul class="">
      <!-- First Step -->
      <li class="">
        <a (click)="toggleStep(1)" role="button">
          <span class="badge bg-primary rounded-circle lead badge-large"
            >1</span
          >
          <span class="lead ms-2 ms-2"> Step 1 </span>
        </a>

        <ng-container
          *ngIf="!isCollapsed(1); else stepGap"
        >
          <div [@inOutAnimation] class="border-start border-secondary-subtle ms-3 mt-2 ps-3">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse
              cupiditate voluptate facere iusto quaerat vitae excepturi,
              accusantium ut aliquam repellat atque nesciunt nostrum similique.
              Inventore nostrum ut, nobis porro sapiente.
              
            </p>
            <!-- Steppers Navigation -->
            <div class="row mt-1">
              <div class="col d-flex justify-content-end">
                <button class="btn btn-md btn-primary ms-2"(click)="gotoStep(2)">Next</button>
              </div>
            </div>
            <!-- /.Vertical Steppers -->
          </div>
        </ng-container>
      </li>
       <!-- Second Step -->
       <li class="mt-2">
        <a (click)="toggleStep(2)" role="button">
          <span class="badge bg-primary rounded-circle lead badge-large"
            >2</span
          >
          <span class="lead ms-2"> Step 2 </span>
        </a>

        <ng-container
          *ngIf="!isCollapsed(2); else stepGap"
        >
          <div [@inOutAnimation] class="border-start border-secondary-subtle ms-3 mt-2 ps-3">
            <p>
              2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse
              cupiditate voluptate facere iusto quaerat vitae excepturi,
              accusantium ut aliquam repellat atque nesciunt nostrum similique.
              Inventore nostrum ut, nobis porro sapiente.
            </p>
            <!-- Steppers Navigation -->
            <div class="row mt-1">
              <div class="col d-flex justify-content-end">
                <button class="btn btn-md btn-light"  (click)="gotoStep(1)">Back</button>
                <button class="btn btn-md btn-primary ms-2"  (click)="gotoStep(3)">Next</button>
              </div>
            </div>
            <!-- /.Vertical Steppers -->
          </div>
        </ng-container>
      </li>
       <!-- Third Step -->
       <li class="mt-2">
        <a (click)="toggleStep(3)" role="button">
          <span class="badge bg-primary rounded-circle lead badge-large"
            >3</span
          >
          <span class="lead ms-2"> Step 3 </span>
        </a>

        <ng-container
          *ngIf="!isCollapsed(3); else stepGap"
        >
          <div [@inOutAnimation] class="border-start border-secondary-subtle ms-3 mt-2 ps-3">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse
              cupiditate voluptate facere iusto quaerat vitae excepturi,
              accusantium ut aliquam repellat atque nesciunt nostrum similique.
              Inventore nostrum ut, nobis porro sapiente.
            </p>
            <!-- Steppers Navigation -->
            <div class="row mt-1">
              <div class="col d-flex justify-content-end">
                <button class="btn btn-md btn-light" (click)="gotoStep(2)">Back</button>
                <button class="btn btn-md btn-primary ms-2" (click)="gotoStep(4)">Next</button>
              </div>
            </div>
            <!-- /.Vertical Steppers -->
          </div>
        </ng-container>
      </li>
       <!-- Fourth Step -->
       <li class="mt-2">
        <a (click)="toggleStep(4)" role="button">
          <span class="badge bg-primary rounded-circle lead badge-large"
            >4</span
          >
          <span class="lead ms-2"> Step 4 </span>
        </a>

        <ng-container
          *ngIf="!isCollapsed(4)"
        >
          <div class="ms-3 mt-2 ps-3">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse
              cupiditate voluptate facere iusto quaerat vitae excepturi,
              accusantium ut aliquam repellat atque nesciunt nostrum similique.
              Inventore nostrum ut, nobis porro sapiente.
            </p>
            <!-- Steppers Navigation -->
            <div class="row mt-1">
              <div class="col d-flex justify-content-end">
                <button class="btn btn-md btn-light" (click)="gotoStep(3)">Back</button>
                <button class="btn btn-md btn-primary ms-2">Submit</button>
              </div>
            </div>
            <!-- /.Vertical Steppers -->
          </div>
        </ng-container>
      </li>

    
    </ul>
    <!-- /.Stepers Wrapper -->
  </div>
</div>
<ng-template #stepGap>
  <div
    class="border-start border-secondary-subtle ms-3 mt-2"
    style="min-height: 20px"
  ></div>
</ng-template>
