/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

body {
    background: linear-gradient(to right, rgb(255, 230, 230), rgb(200, 255, 200));
}

.border-dashed{
    border-style: dashed;
}

body::-webkit-scrollbar {
    display: none;
  }

.bg-primary-dark {
    background-color: $blue-800;
}

.text-primary-dark {
    color: $blue-800;
}